html {
  scroll-behavior: smooth;
}
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* heading start */
.heading {
  width: 100%;
  height: 700px;
  background-image: url(./images/home-bg.jpg);
  margin-bottom: 10%;
}
/* Navigatin start */
section nav {
  display: flex;
  background-color: rgb(252, 252, 252);
  padding: 1%;
  justify-content: space-between;
  margin-bottom: 5%;
  transition: 0.4s;
}

.logo {
  margin-left: 2%;
}
.logo h1 {
  font-weight: 700;
  font-size: 29px;
  color: rgb(19, 221, 160);
}
.nav-bar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-right: 2%;
}
.nav-bar li {
  list-style-type: none;
}
.nav-bar li a {
  color: rgb(41, 37, 37);
  font-weight: 700;
  text-decoration: none;
}
.nav-bar li a:hover {
  color: rgb(19, 221, 160);
}
/* navigation end */
/* container start */
.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.half-width {
  width: 40%;
  padding: 2%;
}
.half-width h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1%;
}
span {
  color: rgb(19, 221, 160);
}
p {
  margin-bottom: 3%;
}
.button {
  background-image: linear-gradient(rgb(27, 233, 188), rgb(9, 168, 128));
  display: inline-block;
  border-radius: 8%;
  padding: 2% 3%;
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.button:hover {
  background-image: linear-gradient(rgb(43, 44, 44), rgb(42, 43, 42));
}

.half-width img {
  width: 100%;
}
/* heading end */
/* about us start */
.container1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.about-us {
  background-color: rgba(148, 148, 148, 0.096);
  height: 500px;
}
.img-1 {
  width: 50%;
  margin-left: 10%;
}
.half-width2 {
  width: 40%;
  padding: 2%;
  margin: 0 auto;
}
/* about us end */
/* my recepie start */
.my-recepie {
  padding: 5%;
}
.center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 30%;
  margin-bottom: 3%;
}
.center-heading p {
  text-align: center;
}
.items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.flex-item {
  width: 25%;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 3%;
}
.flex-item img {
  width: 100%;
  border-radius: 6%;
}
.heading-items h1 {
  color: rgb(19, 221, 160);
}
/* my recepie end */
/* statistic start */
.statistic {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 3%;
  margin-bottom: 5%;
}
.num h1 {
  color: rgb(19, 221, 160);
  font-weight: 400px;
}
.num h3 {
  font-weight: 400;
}
/* sataistic end */
/* gallery Start */
.gallery {
  padding: 5%;
}
.heading1 {
  margin-left: 30%;
  margin-bottom: 5%;
  font-size: 40px;
}
.heading2 {
  margin-left: 30%;
  margin-bottom: 5%;
  font-size: 40px;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 2%;
}
.box-container .box {
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 5%;
}
.box img {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
}
/* gallery end */
/* review start */
.review {
  padding: 5%;
}
.box-container2 {
  display: flex;
  gap: 4px;
}
.stars {
  color: rgb(255, 157, 65);
}
.box1 {
  width: 28%;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 5%;
}
.box-container .box1 img {
  border-radius: 50%;
}
/* review end */
/* footer start */
footer {
  background-color: rgb(78, 75, 75);
  padding: 4%;
}
.center {
  margin-left: 38%;
}
.center h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.footer {
  color: white;
}
/* footer end */
/* responsive design */
@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .nav-bar {
    display: flex;
    width: 450px;
    justify-content: space-around;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container1 {
    display: flex;
    flex-direction: column;
  }
  .half-width1 {
    width: 100%;
    margin-left: 18%;
  }
  .half-width {
    width: 100%;
    padding: 4%;
  }
  .about-us {
    width: 100%;
    height: 800px;
  }
  .heading {
    margin-bottom: 25%;
  }
  .half-width2 {
    width: 80%;
  }
  .items {
    flex-direction: column;
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .box {
    width: 800;
    margin-bottom: 7%;
    margin-left: 7%;
  }
  .flex-item {
    width: 80%;
    margin-bottom: 7%;
    margin-left: 7%;
  }
  .heading1 {
    margin-left: 15%;
  }
  .box-container2 {
    display: block;
  }
  .box1 {
    width: 80%;
  }
  .heading2 {
    margin-top: 20%;
    margin-left: 10%;
  }
  .center {
    margin-left: 20%;
  }
  .footer {
    width: 100%;
  }
}
