* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* heading start */
.heading {
  width: 100%;
  height: 700px;
  background-image: url(./images/home-bg.jpg);
  margin-bottom: 10%;
}
/* Navigatin start */
section nav {
  display: flex;
  background-color: rgb(252, 252, 252);
  padding: 1%;
  justify-content: space-between;
  margin-bottom: 5%;
  transition: 0.4s;
}

.logo {
  margin-left: 2%;
}
.logo h1 {
  font-weight: 700;
  font-size: 29px;
  color: rgb(19, 221, 160);
}
.nav-bar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-right: 2%;
}
.nav-bar li {
  list-style-type: none;
}
.nav-bar li a {
  color: rgb(41, 37, 37);
  font-weight: 700;
  text-decoration: none;
}
.nav-bar li a:hover {
  color: rgb(19, 221, 160);
}
/* navigation end */
/* container start */
.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.half-width {
  width: 40%;
  padding: 2%;
}
.half-width h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1%;
}
span {
  color: rgb(19, 221, 160);
}
p {
  margin-bottom: 3%;
}
.button {
  background-image: linear-gradient(rgb(27, 233, 188), rgb(9, 168, 128));
  display: inline-block;
  border-radius: 8%;
  padding: 2% 3%;
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.button:hover {
  background-image: linear-gradient(rgb(43, 44, 44), rgb(42, 43, 42));
}

.half-width img {
  width: 100%;
}
/* heading end */
.about-us {
  background-color: rgba(148, 148, 148, 0.096);
  height: 500px;
}
.img-1 {
  width: 50%;
  margin-left: 10%;
}
.half-width2 {
  width: 40%;
  padding: 2%;
  margin: 0 auto;
}

.my-recepie {
  padding: 5%;
}
.center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 30%;
  margin-bottom: 3%;
}
.center-heading p {
  text-align: center;
}
.items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.flex-item {
  width: 25%;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 3%;
}
.flex-item img {
  width: 100%;
  border-radius: 6%;
}
.heading-items h1 {
  color: rgb(19, 221, 160);
}
.statistic {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 3%;
  margin-bottom: 5%;
}
.num h1 {
  color: rgb(19, 221, 160);
  font-weight: 400px;
}
.num h3 {
  font-weight: 400;
}
.gallery {
  padding: 5%;
}
.heading1 {
  margin-left: 39%;
  margin-bottom: 5%;
  font-size: 40px;
}
.gallery .box-container {
  display: flex;
  gap: 1.5%;
}
.box-container .box {
  width: 28%;
  box-shadow: 1px 3px 10px rgb(221, 221, 221);
  padding: 3%;
  border-radius: 5%;
}
.box img {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
}
